@font-face{
    font-family: 'chawp';
    src: url(assets/chawp.otf) format('otf');

}


body {
    background-color: #3B653D;
    font-family: 'chawp', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2.0em;
    color: #fffef9;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    margin:0 auto;
    text-align: center;
}
canvas{
    margin-top: 40px;
    border-bottom: 5px solid #fffef9;
    
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.content {
    background-color: #3B653D;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

.close{
    float:right;
    font-size:28px;
    font-weight:bold;
    color:#aaa;
}

.modalButton{
    vertical-align: middle;
    width: 80px;
    height: 60px;
    text-align: center;
}

#buttonEnd{
    margin-left:20px;
}

button{
    background-color: transparent;
    color: #fffef9;
    font-weight:bold;
    border:solid 3px #fffef9;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

button:disabled{
        background-color: grey;
}